{% include('head.html') %}


<table class="container">
    <tr>
        <td>

            <!-- content start -->
            <table class="row">
                <tr>
                    <td class="wrapper last">

                        <table class="twelve columns">
                            <tr>
                                <td>

                                    <h3 class="center">PHP RFC Digestor Test</h3>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

            <!-- container end below -->
        </td>
    </tr>
</table>


{% include('foot.twig') %}